<p-toolbar 
    styleClass="bg-gray-900 shadow-2" 
    [style]="{'background-image': 'linear-gradient(to right, var(--green-500), var(--green-800))' }">
        <ng-template pTemplate="start">
            <p-sidebar [(visible)]="sidebarVisible" position="left">
                <div class="flex flex-column h-full">
                    <div class="mt-auto">
                        <div routerLink="/login" pRipple class="toolbar-option flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-info-circle"></i> &nbsp;
                            <span class="font-medium">About us</span>
                        </div>
                        <div routerLink="/login" pRipple class="toolbar-option flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-question-circle"></i> &nbsp;
                            <span class="font-medium">F.A.Q.</span>
                        </div>
                        <div routerLink="/login" pRipple class="toolbar-option flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-pen-to-square"></i> &nbsp;
                            <span class="font-medium">Contact us</span>
                        </div>
                        <div routerLink="/login" pRipple class="toolbar-option flex align-items-center cursor-pointer p-3 border-round text-700 hover:surface-100 transition-duration-150 transition-colors p-ripple">
                            <i class="pi pi-book"></i> &nbsp;
                            <span class="font-medium">Terms & Conditions</span>
                        </div>
                    </div>
                </div>

            </p-sidebar>
            <p-button (onClick)="sidebarVisible = true" 
            icon="pi pi-bars" 
            [style]="{
                'backgroundColor':'linear-gradient(to right, var(--green-500), var(--green-800))',
                'border':'none'
                }"/>
            <a routerLink="/"  [style]="{'textAlign':'center'}"
                routerLinkActive="active" 
                [style]="{'fontFamily':'forte', 'fontSize':'40px', 'color':'white', 'textDecoration':'none'}">
                FeedMe
            </a>
        </ng-template>
        <ng-template pTemplate="center" >
        </ng-template>
        <ng-template pTemplate="end">
                @if (isLoggedIn()) {
                    <p-button
                        class="username-button"
                        [style]="{
                        'background-color': 'linear-gradient(to right, var(--green-500), var(--green-800))',
                        'border':'none' }"
                        (onClick)="menu.toggle($event)">
                        Welcome, {{getFirstName()}} &nbsp;
                        <i class="pi pi-user"></i>
                        <i *ngIf="!showUserPopup" class="pi pi-angle-down"></i>
                        <i *ngIf="showUserPopup" class="pi pi-angle-up"></i>
                    </p-button>
                    <p-tieredMenu (onShow)="showUserPopup = true" (onHide)="showUserPopup = false" #menu [model]="items" [popup]="true"/>
                } @else {
                    <app-login [(passResetJwt)]="passResetJwt" (logInMessenger)="logInMessenger($event)"></app-login>
                }
        </ng-template>
</p-toolbar>
<p-toast/>
